       <section>
           <div id="sales">
               <div class="sec_header">
                    <h2>Your Sales</h2>
                    <select>
                        <option>Period: Last Year</option>
                        <option>Period: Last Month</option>
                        <option>Period: Last Week</option>
                    </select>
               </div>
               <div class="info"><img id="pai" src="img/sales_pai.jpg"/></div>
           </div>
           <div id="stats">
               <div class="sec_header">
                    <h2>Report</h2>
                    <select>
                        <option>Period: Last Year</option>
                        <option>Period: Last Month</option>
                        <option>Period: Last Week</option>
                    </select>
               </div>
               <div class="info"><img id="graph" src="img/report_graph.jpg"/></div>
           </div>
       </section>