<nav [ngClass]="{'openNav': openNav }">
  <div id="logo" >
        <img src="img/logo.png" alt="logo"/>
        <span>Merkury</span>
        <button (click)="newMessage()" class="close_nav">X</button>
  </div>
  <a href="#" class="focusedSub"><img src="img/home.png" alt="home logo"/><span>Home</span></a>
  <a href="#"><img src="img/work.png" alt="workflow logo"/><span>Workflow</span></a>
  <a href="#"><img src="img/stats.png" alt="stats logo"/><span>Statistics</span></a>
  <a href="#"><img src="img/calender.png" alt="calender logo"/><span>Calender</span></a>
  <a href="#"><img src="img/users.png" alt="users logo"/><span>Users</span></a>
  <a href="#"><img src="img/settings.png" alt="settings logo"/><span>Settings</span></a>
</nav>